<ion-view view-title="Help">
  <ion-content>
      <div class="card">
          <div class="item item-text-wrap">
              Watch a youtube video to find out your live stream URL for StreamIT mobile application for iOS, Android and Windows Phone.<br /><br />
              
              <youtube-video class="embed-responsive-item" video-id="A7TF8Ha3wWg"></youtube-video>
              <iframe width="100%" height="100%" src="http://www.youtube.com/embed/4OyW4LO56hM?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>

      <div class="card">
          <div class="item item-text-wrap">
              Aternatively, you can look at <a href="https://devices.streamit.eu/static/user_manual/regular/finding_the_url_for_an_online_.htm">Finding the URL for an online radio station</a> link.
          </div>
      </div>

      <div class="card">
          <div class="item item-text-wrap">
              <h3>For Comments & Feedbacks</h3>
              <h3>Send an email to <a href="mailto:info@inepali.net">info@inepali.net</a></h3>
          </div>
      </div>
  </ion-content>
</ion-view>
