/* Empty. Add your own CSS if you like */

.swiper-slide img {
	width: 100%;
	height: 90%;
	max-height: auto;
	max-width: auto;
	display:block;
    position:relative;
}


.item-complex .item-content,
.item-radio .item-content {
  padding: 5px 5px 5px 5px;
 }

.top {
   position: absolute;
   left:0px;
   top: -2px;
	width: 100%;
   text-align: center;

}

.english {
	font-weight: bold;
	font-size: 20px;
   float: left;
   color:darkblue;
   position: absolute;
   left:0px;
   top: 0px;
   z-index: 1000;
   background-color: lightskyblue;
   opacity: .8;
   padding-top: 10px;
   display: block;
   height: 40px;
	width: 100%;
   text-align: center;
   box-shadow: 2pt silver;
   
}

.container {
        width: 400px;
        margin: 100px auto 0 auto;
      }
      .pwCanvasPaint canvas:first-child {
        box-shadow: 2px 2px 8px rgba(0,0,0,0.1), -1px -1px 4px rgba(0,0,0,0.1);
        -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.1), -1px -1px 4px rgba(0,0,0,0.1);
      }
      .pwColorSelector {
        list-style: none;
		text-align: center;
      }
      .pwColor {
        display: inline-block;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-right: 5px;
        border: 2px solid transparent;
      }
      .pwColor.active {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        box-shadow: 2px 3px 2px rgba(0,0,0,0.2);
        -webkit-box-shadow: 2px 3px 2px rgba(0,0,0,0.2);
      }
      .lineWidthSelector {
        width: 100%;
      }
