<ion-view view-title="About">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <h4>Namaste and Welcome to all</h4>
                <h4>Dear Reader(s), </h4><br/>
                <h4>This is another attempt to make this app more useful and easy to learn Nepali for our kids on mobile device such as iPhone/iPad/Tablets. In this version, we include basic Nepali
                    alphabets (Consonants, Vowels and Numbers) with picture cards, Barkhari and many more. Check it out frequently.
                    Please help your kids to learn and pronounced correctly.</h4><br/>
                <h4>
                    Also, there are some Nepali Bal Geets included in this version, play and listen as well. Have a fun! 
                    If you need more or Ad free, purchase the full version. 
                </h4><br/>
                <h4>Credits to angular-canvas-painter - v0.5.2 for draw funcationality.</h4>

            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <h3>For Comments & Feedbacks</h3>
                <h4>If you have questions, comments, concerns and suggestions, please feel free to email us at <a href="mailto:info@inepali.net">info@inepali.net</a></h4>
            </div>
        </div>
    </ion-content>
</ion-view>