<ion-view view-title="National Anthem">
  <ion-content>


<div class="card">
          <div class="item item-text-wrap">
              <h3>Nepal's National Anthem, listen and learn to sing</h3>
          </div>
      </div>

      <div class="card">
          <div class="item item-text-wrap">
              <iframe width="100%" height="200px" src="http://www.youtube.com/embed/i7ZvETrH-I4?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>

      <div class="card">
          <div class="item item-text-wrap">
              <h3>For Comments & Feedbacks</h3>
              <h3>Send an email to <a href="mailto:info@inepali.net">info@inepali.net</a></h3>
          </div>
      </div>
  </ion-content>
</ion-view>
